= semantic_form_for @student do |f|
  = f.inputs do
    = f.input :full_name
    = f.input :title
    = f.input :age
    = f.input :bio
    = f.input :email
    = f.input :password

  = f.actions do
    = f.action :submit, :as => :input
